{% extends 'layout/main.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4">
            <h5>Tools and Stacks</h5>
            {% for tag in project.tags.all %}
                <span class="badge text-bg-primary">{{ tag }}</span>
            {% endfor %}
            {% if project.source_link %}
                <div class="mt-4">
                    <a href="{{ project.source_link }}">Source Code</a>
                </div>
            {% endif %}
            {% if project.demo_link %}
                <div class="mt-4">
                    <a href="{{ project.demo_link }}">Demo Link</a>
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <img
                    src="{{ project.featured_image.url }}"
                    class="img-fluid mx-auto d-block"
                    alt="Project Image"
                    style="max-height: 25rem;"
            >
            <form
                    method="POST"
                    enctype="multipart/form-data"
                    action="{% url 'project.update' project.id %}"
            >
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary" type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock content %}