{% extends 'layout/main.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for project in projects %}
      <div class="col text-center">
        <div class="card" style="width: 18rem;">
          <img src="{{ project.featured_image.url }}" class="card-img-top" alt="{{ project.title }}">
          <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'project.edit' project.id %}">
                    {{ project.title }}
                </a>
            </h5>
            <p class="card-text">
                {{ project.vote_ratio }}% Positive ({{ project.vote_total }} Vote{{ project.vote_total | pluralize }} )
            </p>
              {% for tag in project.tags.all %}
                  <span class="badge text-bg-primary">{{ tag }}</span>
              {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock content %}
